.modal-content {
  padding: 2rem;

  position: relative;
}

.modal__title {
  margin-bottom: 1.2rem;

  font-size: 1.6rem;
  font-weight: 500;
  color: $pink;
}

.modal__text {
  margin-bottom: 2rem;

  font-weight: 500;
  line-height: 1.2;
}

.modal__close {
  height: 1.9rem;
  width: 1.9rem;

  background: none;
  border: 0;
  cursor: pointer;
  outline-color: $pink;

  position: absolute;
  right: -2.1rem;
  top: -2.1rem;
}

.modal__close-icon {
  display: block;
  height: 100%;
  width: 100%;

  fill: $white;

  &:hover {
    fill: $pink;
  }

}