<div class="container">
  <h1 class="content__title">Мои работы</h1>
  <div class="portfolio">
    <button class="portfolio__arrow portfolio__arrow--left" id="prev">
      <svg class="portfolio__icon">
        <use xlink:href="#arrow"></use>
      </svg>
    </button>
    <button class="portfolio__arrow portfolio__arrow--right" id="next">
      <svg class="portfolio__icon">
        <use xlink:href="#arrow"></use>
      </svg>
    </button>

    <div id="slider" class="portfolio__slider">
      <div>
        <div class="portfolio__item">
          <a class="portfolio__link" href="#" target="_blank">
            <img
              class="portfolio__img"
              src="assets/img/portfolio/1.jpg"
              alt=""
            />
          </a>
          <div class="portfolio__title">Сайт проекта CarTuning.pro</div>
        </div>
      </div>

      <div>
        <div class="portfolio__item">
          <a class="portfolio__link" href="#" target="_blank">
            <img
              class="portfolio__img"
              src="assets/img/portfolio/2.jpg"
              alt=""
            />
          </a>
          <div class="portfolio__title">Сайт проекта UUU.hr</div>
        </div>
      </div>

      <div>
        <div class="portfolio__item">
          <a class="portfolio__link" href="#" target="_blank">
            <img
              class="portfolio__img"
              src="assets/img/portfolio/2.jpg"
              alt=""
            />
          </a>
          <div class="portfolio__title">Сайт проекта UUU.hr</div>
        </div>
      </div>
    </div>
    <!-- ./slider -->
  </div>
  <!-- ./portfolio__slider -->
</div>
<script src="assets/js/app.js"></script>
