$black : #121212;
$white : #fff;
$pink : #cf246c;
$grey : #fafafa;
$grey_dark : #a1a1a1;

$radius : 5px;

$shadow: 0 0 25px rgba(0, 0, 0, .05);

$breakpoint_md : 1366px;
$breakpoint_md_sm : 1200px;
$breakpoint_sm_lg :500px;
$breakpoint_sm : 380px;

//BOOTSTRAP vars

$modal-backdrop-opacity:            .9;
$modal-backdrop-bg:                 #0a1630;
